body {
    margin: 0;
    background-color: rgb(248, 249, 215);
    font-family:'Courier New', Courier, monospace;
}

main {
    background-color: rgb(178, 200, 223);
    text-align: center;
    padding-top: 10px;
}

header {
    padding-left: 20%;
    font-size: 40px;
    background-color:rgb(178, 200, 223);
    padding-top: 15px;
    margin-bottom: -20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    border-style: hidden;
    border-radius: 100%;
}

button:hover {
    cursor: pointer;
}

table {
    border-collapse: collapse;
}

thead {
    margin-bottom: 10px;
}

tr {
    border-bottom:  solid black;
    border-width: 1px;
}

input {
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
}

.spacer {
    visibility: hidden;
}

.tableOne tr:nth-child(odd){
    background-color: rgb(196, 215, 224);
}

.tableTwo tr:nth-child(even){
    background-color: rgb(196, 215, 224);
}

.complete {
    text-decoration: line-through;
}

.normalText {
    text-decoration: none;
    color: rgb(50, 170, 104);
}

.completion:hover {
    cursor: pointer;
}

.description {
    width: 100%;
}

.name {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
    padding-left: 10px;
    font-size: 20px;
}

.nameTemp {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
    padding-left: 10px;
    font-size: 20px;
}

.tableEnd {
    padding-right: 10px;
}

.up {
    padding-left: 10px;
}

.plus {
    padding-right: 20px;
    margin-left: 10px;
}

#newTaskDescription {
    width: 96%;
    margin-left: 8px;
}

#newTaskReady {
    background-color: rgb(103, 194, 103);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#input {
    text-align: left;
}


#hiddenTask {
    display: none;
}

#addTask {
    display: inline;
}

#addTask:hover {
    cursor: pointer;
}

.removeTask {
    background-color: rgb(238, 99, 99);
}

.triangle {
    width: 10px;
}

.headerElement {
    display: inline;
}

.arrow:hover {
    cursor: pointer;
}